{extend name="../../admin/view/main"}
{block name="content"}
<form action="{:sysuri()}" data-table-id="FormTable" class="layui-form layui-card" data-auto="true" method="post">
    <div class="layui-card-body padding-left-40">

        <div class="layui-form-item label-required-prev">
            <span class="help-label"><b>开票类型：</b></span>
            <div class="flex flex-wrap">
                <fieldset class="layui-bg-gray">
                    {foreach ['增值税普通发票','增值税专用发票'] as $k => $v}
                    {if (isset($vo.type) and $vo.type eq $k) or (empty($vo.type) and $k eq 0)}
                    <input checked name="type_id" title="{$v}" type="radio" value="{$k}">
                    {else}
                    <input name="type_id" title="{$v}" type="radio" value="{$k}">
                    {/if}{/foreach}
                </fieldset>
            </div>
        </div>

        <label class="layui-form-item relative block">
            <span class="help-label"><b>发票抬头</b></span>
            <input class="layui-input" name="invoice" placeholder="请输入发票抬头" required value='{$vo.invoice|default=""}'>
        </label>
        <label class="layui-form-item relative block">
            <span class="help-label"><b>纳税人识别号</b></span>
            <input class="layui-input" name="number" placeholder="请输入纳税人识别号" required value='{$vo.number|default=""}'>
        </label>
        <label class="layui-form-item relative block">
            <span class="help-label"><b>地址</b></span>
            <input class="layui-input" name="place" placeholder="请输入地址" required value='{$vo.place|default=""}'>
        </label>
        <label class="layui-form-item relative block">
            <span class="help-label"><b>开户行</b></span>
            <input class="layui-input" name="bank" placeholder="请输入开户行" required value='{$vo.bank|default=""}'>
        </label>
        <label class="layui-form-item relative block">
            <span class="help-label"><b>银行卡账号</b></span>
            <input class="layui-input" name="card" placeholder="请输入账号" required value='{$vo.card|default=""}'>
        </label>
        <label class="layui-form-item relative block">
            <span class="help-label"><b>收票人</b></span>
            <input class="layui-input" name="collector" placeholder="请输入收票人" required value='{$vo.collector|default=""}'>
        </label>
        <label class="layui-form-item relative block">
            <span class="help-label"><b>联系电话</b></span>
            <input class="layui-input" name="mobile" placeholder="请输入联系电话" required value='{$vo.mobile|default=""}'>
        </label>
        <label class="layui-form-item relative block">
            <span class="help-label"><b>收件地址</b></span>
            <input class="layui-input" name="address" placeholder="请输入收件地址" required value='{$vo.address|default=""}'>
        </label>
    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input name='id' type='hidden' value='{$vo.id}'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" data-close type='button' data-confirm="确定要取消编辑吗？">取消编辑</button>
    </div>

</form>
{/block}