<style>
   /*账户充值*/
   #recharge .layui-top-title {
      position: relative;
      color: #333;
      height: 38px;
      line-height: 38px;
      font-size: 16px;
      margin-bottom: 15px;
      margin-top: 10px;
   }

   #recharge .layui-right-text {
      position: absolute;
      right: 0;
      top: 0;
   }

   #recharge .layui-btn-primary {
      border: 1px solid #1E9FFF;
      color: #1E9FFF;
      margin-right: 0;
   }

   #recharge .layui-tab-content {
      padding-left: 60px;
   }

   #recharge .layui-tab span {
      float: left;
      height: 42px;
      line-height: 42px;
      margin-left: 50px;
   }

   #recharge .layui-tab .lay-tab-box {
      display: inline-block;
      border: none;
   }

   #recharge .layui-tab .lay-tab-box li {
      background: #fff;
      border: 1px solid #d2d2d2;
      margin-left: 20px;
   }

   #recharge .layui-tab .lay-tab-box li.layui-this {
      background: #1E9FFF;
      border: 1px solid #1E9FFF;
      color: #fff;
   }

   #recharge .layui-tab .lay-tab-box li.layui-this:after {
      border-color: #1E9FFF
   }

   #recharge .layui-tab .lay-form-one p {
      margin: 30px 0 25px;
   }

   #recharge .layui-tab .lay-form-one table {
      height: 150px;
      width: 400px;
      background: #fff;
   }

   #recharge .layui-tab .lay-form-one table tr td {
      border: 1px solid #D2D2D2;
      text-align: center;
   }

   #recharge .layui-tab .lay-form-two {
      margin-top: 35px;
   }

   #recharge .layui-tab .layui-form button {
      margin-top: 25px;
      padding: 0 35px;
   }

   #recharge .layui-tab .lay-form-two h4 {
      margin: 20px 0 5px;
   }

   #recharge .layui-tab .lay-form-two p {
      line-height: 30px;
   }

   #recharge .lay-shade, #recharge_record .lay-shade {
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: #000;
      opacity: 0.3;
   }

   #recharge .lay-box {
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 10;
      background: #fff;
      transform: translate(-50%, -50%);
      padding: 18px 20px 15px;
      width: 600px;
   }

   #recharge .lay-container {
      margin-top: 30px;
      text-align: right;
   }

   #recharge .lay-container a {
      display: inline-block;
      height: 35px;
      width: 90px;
      text-align: center;
      line-height: 35px;
      background: #1E9FFF;
      color: #fff;
      border-radius: 5px;
      border: 1px solid #1E9FFF;
   }

   #recharge .lay-container a.lay-cancel {
      border: 1px solid #D2D2D2;
      background: #fff;
      color: #666;
      cursor: pointer;
   }

   #recharge .lay-container a.lay-copy {
      background: #1E9FFF;
      color: #fff;
      border: 1px solid #1E9FFF;
   }
</style>
