{extend name="../../admin/view/main"}

{block name="button"}
<button class='layui-btn layui-btn-sm layui-btn-primary' data-modal='{:url("add")}'>添加应用</button>
{/block}

{block name='content'}
<div class="think-box-shadow">
    {include file='ios/admin_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class="text-left nowrap">企业信息</th>
            <th class="text-left nowrap">应用信息</th>
            <th class="text-left nowrap">产品状态</th>
            <th class="text-left nowrap">排序权重</th>
            <th class="text-left nowrap">创建时间</th>
            <th class="text-left nowrap"></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='nowrap'>
                <div class="inline-block sub-span-blue">
                    <div>企业名称：<span>{$vo.companyName|default='--'}</span></div>
                    <div>联系方式：<span>{$vo.companyMobile|default='--'}</span></div>
                </div>
            </td>
            <td class='nowrap'>
                {notempty name='vo.cover'}
                <div class="headimg headimg-no" data-tips-hover data-tips-image data-lazy-src="{$vo.icon}"></div>
                {/notempty}
                <div class="inline-block sub-span-blue">
                    <div>应用名称：<span>{$vo.name|default='--'}</span></div>
                </div>
            </td>
            <td class="text-left nowrap">
                {if $vo.status eq 0}
                <span class="color-red">待审核</span>
                {elseif $vo.status eq 1}
                <span class="color-green">审核完成</span>
                {elseif $vo.status eq 2}
                <span class="color-green">审核拒绝</span>
                {/if}
            </td>
            <td class="text-left nowrap">{$vo.sort|default=''}</td>
            <td class="text-left nowrap">{$vo.create_at}</td>
            <td class='text-left nowrap'>
                {if isset($vo.status) and $vo.status eq 0}
                <a class="layui-btn layui-btn-xs layui-btn-sm" data-dbclick data-modal="{:url('refuse')}?id={$vo.id}&status=2"
                   data-title="驳回产品">驳 回</a>
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('state')}"
                   data-confirm="确定要通过申请吗？"
                   data-value="id#{$vo.id};status#1">通 过</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}
