{extend name="../../admin/view/main"}
{block name='content'}
<form action="{:sysuri()}" data-table-id="FormTable" class="layui-form layui-card" data-auto="true" method="post">
    <div class="layui-card-body padding-left-40">

        <div class="layui-form-item">
            <label class="relative block">
                <span class="help-label"><b>新的登录密码</b></span>
                <input type="password" name="password" maxlength="32"
                       required placeholder="请输入新的登录密码"
                       class="layui-input">
            </label>
        </div>

        <div class="layui-form-item">
            <label class="relative block">
                <span class="help-label"><b>重复登录密码</b>Repeat Password</span>
                <input type="password" name="repassword" maxlength="32"
                       required placeholder="请重复输入登录密码"
                       class="layui-input">
            </label>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input name='id' type='hidden' value='{$vo.id}'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存</button>
    </div>

</form>
{/block}