{extend name="../../admin/view/main"}

{block name='content'}
<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card" data-table-id="MessageTable">
    <div class="layui-card-body">

        <label class="layui-form-item relative block">
            <span class="help-label"><b>选择推广应用：</b></span>
            <select class='layui-select' name='host_id' lay-search>
                {foreach $android as $item}
                <option value='{$item.id}'>{$item.name}</option>
                {/foreach}
            </select>
        </label>

        <div class="layui-form-item label-required-prev">
            <span class="help-label"><b>选择推广类型：</b></span>
            <div class="flex flex-wrap">
                <fieldset class="layui-bg-gray">
                    {foreach ['优化下载'] as $k => $v}
                    {if (isset($vo.type) and $vo.type eq $k) or (empty($vo.type) and $k eq 0)}
                    <input checked name="type_id" title="{$v}" type="radio" value="{$k}">
                    {else}
                    <input name="type_id" title="{$v}" type="radio" value="{$k}">
                    {/if}{/foreach}
                </fieldset>
            </div>
        </div>

        <label class="layui-form-item label-required-prev">
            <span class="help-label"><b>产品链接：</b></span>
            <input class="layui-input" name="url" placeholder="请输入内容" required value=''>
        </label>

        <label class="layui-form-item label-required-prev">
            <span class="help-label"><b>添加关键词：</b>关键词和实际投放量以逗号隔开，关键词间以换行分割</span>
            <textarea class="layui-textarea" name="remarks" placeholder="请输入关键词和实际投放量"></textarea>
            <button class="layui-btn" type="button" style="margin-top: 10px">添加数据</button>
            <button class="layui-btn layui-btn-primary" type='button' style="margin-top: 10px">清空数据</button>
        </label>

        <table class="layui-table margin-top-10">
            <thead>
            <tr>
                <th class="text-center nowrap pointer" width="50%"><b>关键词</b></th>
                <th class="text-center nowrap pointer" width="30%"><b>投放数量</b></th>
                <th class="text-center nowrap pointer" width="20%"><b>操作</b></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="text-center nowrap pointer" width="50%"><b>1</b></th>
                <th class="text-center nowrap pointer" width="30%"><b>1</b></th>
                <th class="text-center nowrap pointer" width="20%">
                    <a data-action='' data-value="" data-confirm="确认要删除这条记录吗？"
                       class="layui-btn layui-btn-sm layui-btn-danger">删 除</a>
                </th>
            </tr>

            </tbody>
        </table>
        <div class="layui-form-item">
            <p class="color-desc">投放总量：
                <span class="help-label" style="margin-left: 10px"><b>XXX</b></span>
            </p>
            <p class="color-desc">单价（元）：
                <span class="help-label" style="margin-left: 10px"><b>XXX</b></span>
            </p>
            <p class="color-desc">消耗（元）：
                <span class="help-label" style="margin-left: 10px"><b>XXX</b></span>
            </p>
        </div>


        <div class="layui-form-item label-required-prev">
            <span class="help-label"><b>是否匀速：</b></span>
            <div class="flex flex-wrap">
                <fieldset class="layui-bg-gray">
                    <input checked name="speed" title="是" type="radio" value="是">
                    <input name="speed" title="否" type="radio" value="否">
                </fieldset>
            </div>
        </div>

        <div class="layui-form-item  label-required-prev">
            <span class="help-label"><b>投放时间：</b></span>
            <div class="layui-inline">

                <div class="layui-input-inline">
                    <input type="text" name="startDate1" class="layui-input" id="test1" placeholder="开始日期" lay-key='1'
                           autocomplete="off">
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="startDate2" class="layui-input" id="test2" placeholder="开始时间" lay-key="2"
                           autocomplete="off">
                </div>
                <div class="layui-form-mid">至</div>
                <div class="layui-input-inline">
                    <input type="text" name="endDate1" class="layui-input" id="test3" placeholder="结束日期" lay-key="3"
                           autocomplete="off">
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="endDate2" class="layui-input" id="test4" placeholder="结束时间" lay-key="4"
                           autocomplete="off">
                </div>
            </div>
        </div>


        <div class="hr-line-dashed"></div>
        {notempty name='vo.id'}<input name='id' type='hidden' value='{$vo.id}'>{/notempty}

        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">提交推广</button>
            <button class="layui-btn layui-btn-danger" data-confirm="确定要取消推广吗？" type='button' data-history-back>取消推广
            </button>
        </div>
    </div>
</form>

<script>
    require(['ckeditor'], function () {
        window.createEditor('[name=content]', {height: 530});
    });
</script>
<script>
    var defaultdate = new Date();
    var defaultmin = defaultdate.getMinutes();
    defaultdate.setMinutes(defaultmin + 10);

    var begin_date = "";
    var begin_time = "";
    var end_date = "";
    var end_time = "";
    var minPublish = 1;
    //投放时间段选择
    laydate.render({
        elem: '#test1',
        theme: '#1E9FFF',
        trigger: 'click',
        value: begin_date || new Date(),
        done: function (value, date, endDate) {
            //console.log(date);
            var year = date.year == Number($("#test3").val().split("-")[0])
            var month = date.month == Number($("#test3").val().split("-")[1])
            if (!year || !month) {
                layer.msg("开始日期与结束日期必须保证在同一月份", {time: 2500})
                return false;
            }
            if (date.date > Number($("#test3").val().split("-")[2])) {
                layer.msg("开始日期必须小于结束日期", {time: 2500})
                return false;
            }
            var test2 = $("#test2").val();
            var test3 = $("#test3").val();
            var test4 = $("#test4").val();
            var stime = date.year + '-' + date.month + '-' + date.date + " " + test2 + ":00"
            var etime = test3 + ' ' + test4 + ':00';
            var time1 = new Date(stime);
            var time2 = new Date(etime);
            var minus = time2.getTime() - time1.getTime();
            if (minus < 3540000 || minus > 86340000) {
                layer.msg("开始时间与结束时间间隔必须大于等于1小时且小于24小时", {time: 3500})
            }

        }
    });
    laydate.render({
        elem: '#test2',
        theme: '#1E9FFF',
        trigger: 'click',
        type: 'time',
        format: 'HH:mm',
        value: begin_time || defaultdate,
        done: function (value, date, endDate) {
            console.log(date);
            var test1 = $("#test1").val();
            var test3 = $("#test3").val();
            var test4 = $("#test4").val();
            var stime = test1 + ' ' + date.hours + ':' + date.minutes + ':00';
            var etime = test3 + " " + test4 + ":00"
            var time1 = new Date(stime);
            var time2 = new Date(etime);
            var minus = time2.getTime() - time1.getTime();
            if (minus < 3540000 || minus > 86340000) {
                layer.msg("开始时间与结束时间间隔必须大于等于1小时且小于24小时", {time: 3500})
            }
        }
    });
    laydate.render({
        elem: '#test3',
        theme: '#1E9FFF',
        trigger: 'click',
        value: end_date || new Date(),
        done: function (value, date, endDate) {
            //console.log(date);
            var year = date.year == Number($("#test1").val().split("-")[0])
            var month = date.month == Number($("#test1").val().split("-")[1])
            if (!year || !month) {
                layer.msg("开始日期与结束日期必须保证在同一月份", {time: 2500})
                return false;
            }
            if (date.date < Number($("#test1").val().split("-")[2])) {
                layer.msg("结束日期必须大于开始日期", {time: 2500})
                return false;
            }
            var test1 = $("#test1").val();
            var test2 = $("#test2").val();
            var test4 = $("#test4").val();
            var stime = test1 + " " + test2 + ":00"
            var etime = date.year + '-' + date.month + '-' + date.date + ' ' + test4 + ':00';
            var time1 = new Date(stime);
            var time2 = new Date(etime);
            var minus = time2.getTime() - time1.getTime();
            if (minus < 3540000 || minus > 86340000) {
                layer.msg("开始时间与结束时间间隔必须大于等于1小时且小于24小时", {time: 3500})
            }

        }
    });
    laydate.render({
        elem: '#test4',
        theme: '#1E9FFF',
        trigger: 'click',
        type: 'time',
        format: 'HH:mm',
        value: end_time || '23:59',
        done: function (value, date, endDate) {
            //console.log(date);
            var test1 = $("#test1").val();
            var test2 = $("#test2").val();
            var test3 = $("#test3").val();
            var stime = test1 + " " + test2 + ":00"
            var etime = test3 + ' ' + date.hours + ':' + date.minutes + ':00';
            var time1 = new Date(stime);
            var time2 = new Date(etime);
            var minus = time2.getTime() - time1.getTime();
            if (minus < 3540000 || minus > 86340000) {
                layer.msg("开始时间与结束时间间隔必须大于等于1小时且小于24小时", {time: 3500})
            }
        }
    });
</script>
{/block}